@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.next{
  font-family: 'Croteau';
}
@font-face {
  font-family: 'Croteau';
  src: url('./fonts/Croteau-Regular.ttf') format('truetype');
  /* Add other font properties like font-weight, font-style if needed */
}
